body {
    background-color: Black;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    color: white;
}

button {
    font-size: 16px;
    color: aquamarine;
}

h3 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

img {
    width: 400px;
    height: 250px;
}

video {
    width: 250px;
    height: 400px;
}